@use "variables" as variables;
@use "mixins" as mixins;
@use "extends";

@media print {
  /* 페이지 쪼개짐 방지 */
  .no-break { 
    break-inside: avoid;
    page-break-inside: avoid; /* 구형 호환 */
  }
  img, table, pre, blockquote { 
    break-inside: avoid; 
    page-break-inside: avoid; 
  }

  #printPDF, header, .site-header, .site-footer { display: none !important; }

  /* 여백/폭 */
  @page { margin: 16mm; }
  .page-content, .wrapper { max-width: 100% !important; }
}

/**
 * Custom Fonts
 */
@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('../fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('../fonts/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('../fonts/NanumSquareRoundB.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('../fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('../fonts/NanumSquareRoundL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../fonts/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../fonts/NanumSquareRoundB.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/**
 * Basic styling
 */
body {
  font-family: variables.$base-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$base-line-height;
  font-weight: 400;
  color: variables.$color-text;
  background-color: variables.$color-background;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: calc(variables.$spacing-unit / 2);
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: variables.$small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: variables.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
  
  margin-bottom: 8px;
  border-radius: 4px;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: variables.$base-font-family;
}

h4 {
  font-size: 12px;
}

/**
 * Links
 */
a {
  color: variables.$color-brand;
  text-decoration: none;

  &:hover {
    color: variables.$color-text;
    text-decoration: underline;
  }
}

span.link {
  cursor: pointer;
  color: variables.$color-brand;
  text-decoration: none;

  &:hover {
    color: variables.$color-text;
    text-decoration: underline;
  }
}

/**
 * Enforce bold (Firefox)
 */
strong {
  font-weight: bold;
}

/**
 * Blockquotes
 */
blockquote {
  color: variables.$color-grey;
  border-left: 4px solid variables.$color-grey-light;
  padding-left: calc(variables.$spacing-unit / 2);
  font-size: 100%;
  letter-spacing: -0.5px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
  border: none;
  border-radius: 3px;
}

code {
  padding: 2px 2px;
  background-color: #dedbdb;
  color: #333;
  font-weight: bold;
}

pre {
  padding: 12px 16px;
  overflow-x: auto;
  border-radius: 6px;

  > code {
    border: 0;
    padding: 0;
    background-color: transparent;
    color: inherit;
    font-weight: normal;
  }
}

/* TOC 스타일 */
#markdown-toc {
  line-height: 1.6;
  background-color: #f5f5f5;  /* 밝은 회색 배경 */
  border: 1px solid #ddd;     /* 옅은 테두리 */
  margin: 1.5em 0;
  border-radius: 6px;
  padding: 2em;      
  list-style: none;
}

#markdown-toc li {
  margin: 0.3em 0;   /* 항목 간 일정한 여백 */
  line-height: 1.6;  /* 줄간격 균일 */
}

#markdown-toc ul {
  list-style: none;     /* 기본 점 없애기 */
  padding-left: 1em;  /* 들여쓰기 줄임 */
  margin: 0;
}

#markdown-toc ul ul {
  padding-left: 1em;    /* 하위 depth도 적당히만 */
}

//image caption
.post-content p:has(> img) {
  text-align: center;              /* 이미지를 가운데 */
  margin-bottom: .5rem;
}

.post-content p > img + em {
  display: block;            /* 줄 바꿈 */
  text-align: center;        /* 가운데 정렬 */
  margin-top: 0.3em;         /* 이미지와의 간격 */
  font-size: 0.9em;          /* 본문보다 작게 */
  color: #6b7280;            /* 회색톤 (tailwind gray-500 느낌) */
  font-style: italic;        /* 이탤릭 유지 */
}

/**
 * Syntax highlighting with line numbers
 */
.highlight {
  .lineno {
    color: rgba(255, 255, 255, 0.3);
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    user-select: none;
  }
  
  pre {
    background-color: #333;
    color: #fff;
  }
}

/**
 * Wrapper
 */
.wrapper {
  position: relative;
  max-width: -webkit-calc(900px - (#{variables.$spacing-unit} * 2));
  max-width: calc(900px - (variables.$spacing-unit * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: variables.$spacing-unit;
  padding-left: variables.$spacing-unit;

  @extend %clearfix;

  @include mixins.media-query(variables.$on-laptop) {
    max-width: -webkit-calc(980px - (#{variables.$spacing-unit}));
    max-width: calc(980px - variables.$spacing-unit);
    padding-right: calc(variables.$spacing-unit / 2);
    padding-left: calc(variables.$spacing-unit / 2);
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: variables.$color-grey;
    }
  }
}

.mermaid {
  padding: 1rem;
  margin: 1rem; 
  text-align: left;
  //   background-image:
  //   linear-gradient(to right, #ddd 1px, transparent 1px),
  //   linear-gradient(to bottom, #ddd 1px, transparent 1px);
  // background-size: 20px 20px; /* 격자 간격 */
  // background-color: #fff;  
}


.mermaid .label, .mermaid .label * {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
  word-break: break-word !important;
  overflow-wrap: anywhere !important;
  text-align: left !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.mermaid svg { max-width: 100%; height: auto; overflow: visible;
 }

.zenuml {
  font-family: 'NanumSquareRoundEB' !important;
}

/* 일반 테이블에만 적용, 코드 블럭 안의 table은 제외 */
table:not(pre table):not(code table) {
  border-collapse: collapse;
  width: 100%;
  margin: 1.5em 0;
  font-size: 0.95rem;
  font-family: 'NanumSquareRoundB';
}

table:not(pre table):not(code table) th,
table:not(pre table):not(code table) td {
  border: 1px solid #ddd;
  padding: 10px 12px;
  text-align: center;
}

table:not(pre table):not(code table) th {
  background-color: #4f4e4e;
  color: #ffffff;
}

table:not(pre table):not(code table) tr:nth-child(even) td {
  background-color: #f9f9f9;
}
table:not(pre table):not(code table) tr:nth-child(odd) td {
  background-color: #ffffff;
}
