/**
 * Rouge Syntax Highlighting - IntelliJ Darcula Theme
 * Based on IntelliJ IDEA Darcula color scheme
 */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

/* Comments - Gray */
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #808080;
  font-style: italic;
}
.highlight .cm {
  color: #808080;
  font-style: italic;
}
.highlight .c1 {
  color: #808080;
  font-style: italic;
}
.highlight .cp {
  color: #808080;
}
.highlight .cs {
  color: #808080;
  font-style: italic;
}

/* Errors */
.highlight .err {
  color: #BC3F3C;
  background-color: transparent;
}

/* Git diff */
.highlight .gi {
  color: #A9B7C6;
  background-color: #294436;
}
.highlight .gd {
  color: #A9B7C6;
  background-color: #484A4A;
}
.highlight .ge {
  font-style: italic;
}
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight .gr {
  color: #BC3F3C;
}
.highlight .gt {
  color: #BC3F3C;
}
.highlight .gh {
  color: #A9B7C6;
}
.highlight .go {
  color: #A9B7C6;
}
.highlight .gp {
  color: #A9B7C6;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #A9B7C6;
}

/* Keywords - Orange */
.highlight .k, .highlight .kv {
  color: #CC7832;
  font-weight: normal;
}
.highlight .kc {
  color: #CC7832;
}
.highlight .kd {
  color: #CC7832;
}
.highlight .kp {
  color: #CC7832;
}
.highlight .kr {
  color: #CC7832;
}
.highlight .kt {
  color: #CC7832;
}
.highlight .kn {
  color: #CC7832;
}

/* Operators */
.highlight .ow {
  color: #A9B7C6;
}
.highlight .o {
  color: #A9B7C6;
}

/* Numbers - Blue */
.highlight .mf {
  color: #6897BB;
}
.highlight .mh {
  color: #6897BB;
}
.highlight .il {
  color: #6897BB;
}
.highlight .mi {
  color: #6897BB;
}
.highlight .mo {
  color: #6897BB;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #6897BB;
}

/* Strings - Green */
.highlight .se {
  color: #CC7832;
}
.highlight .sa {
  color: #6A8759;
}
.highlight .sb {
  color: #6A8759;
}
.highlight .sc {
  color: #6A8759;
}
.highlight .sd {
  color: #629755;
  font-style: italic;
}
.highlight .s2 {
  color: #6A8759;
}
.highlight .sh {
  color: #6A8759;
}
.highlight .si {
  color: #6A8759;
}
.highlight .sx {
  color: #6A8759;
}
.highlight .sr {
  color: #6A8759;
}
.highlight .s1 {
  color: #6A8759;
}
.highlight .ss {
  color: #6A8759;
}
.highlight .s, .highlight .dl {
  color: #6A8759;
}

/* Names/Attributes - Yellow/Cyan */
.highlight .na {
  color: #9876AA;
}
.highlight .nc {
  color: #A9B7C6;
}
.highlight .nd {
  color: #BBB529;
}
.highlight .ne {
  color: #A9B7C6;
}

/* Functions - Yellow */
.highlight .nf, .highlight .fm {
  color: #FFC66D;
}

/* Constants/Variables */
.highlight .no {
  color: #9876AA;
}
.highlight .bp {
  color: #A9B7C6;
}
.highlight .nb {
  color: #8888C6;
}
.highlight .ni {
  color: #A9B7C6;
}
.highlight .nn {
  color: #A9B7C6;
}
.highlight .vc {
  color: #9876AA;
}
.highlight .vg {
  color: #9876AA;
}
.highlight .vi {
  color: #9876AA;
}
.highlight .nv, .highlight .vm {
  color: #A9B7C6;
}
.highlight .w {
  color: #A9B7C6;
}
.highlight .nl {
  color: #A9B7C6;
}

/* Tags - Yellow */
.highlight .nt {
  color: #E8BF6A;
}
